
.card{
  width: 100%;
  height: 600px;
  border-radius: 28px;
  background: #e0e0e0 !important;
  box-shadow:  6px 6px 6px #828282,
               -6px -6px 6px #ffffff;
}
.bar{
  width: 100%;
  height: 80px;
  border-radius: 28px;
  background: #e0e0e0 !important;
  box-shadow:  6px 6px 6px #828282,
               -6px -6px 6px #ffffff;
}
header{
  width: 100%;
  height: 100vh;
}
